@import 'base.css';

#app {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  min-height: 100%;
  font-weight: normal;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
